@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignOut</title>
</head>
<body>
  <a asp-controller="Account" asp-action="SignIn">Sign In </a>
</body>
</html>