@model List<FirstMvcProject.Controllers.Movie>
@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>HTML IS AMAZING</p>

    @foreach (var movie in Model)
    {
        <div>@movie.Title</div>
        <div>@movie.Rating</div>
    }
</body>
</html>